/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Human genome hg38
 * -------------------------------------------------
 * CONFIGURATION FOR LOCAL COMPUTER (KEVIN) for testing
 * won't work on your system
 */

docker {
    enabled = true
}

process {
      $enrichment {
        cpus = 4
    }
}

params {
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    fasta = '/home/kevin/resources/genomes/GRCh38_v27_gencode/GRCh38.primary_assembly.genome.fa'
    gtf = '/home/kevin/resources/genomes/GRCh38_v27_gencode/gencode.v27.annotation.sorted.gtf'
    encode = '/home/kevin/gitRepos/tf-activity/assets/merged_concat_tfs'
}
